<div class="col-sm-4 col-md-3 col-xs-6 padding-bottom-1">
    <div class="card">
        <a ng-click='openbookcard()'>
            <!--Card image-->
            <img class="img-responsive" ng-src="{{bookcard.image_path}}" alt="{{bookcard.title}}">
            <!--/.Card image-->

            <!--Card content-->
            <div class="card-block">
                <!--Title-->
                <h4 class="card-title">{{bookcard.title}}</h4>     
                <!--Text-->
                <p class="card-text">{{bookcard.price}}</p>
            </div>
            <!--/.Card content--> 
        </a>
    </div>
</div>