@import '../../../../styles/index';

.transparent-button{
     border-color: transparent;
     font-family: 'Roboto Thin','sans-serif';
     font-size: 18px;
}
.card-img{
    height: 300px;
    width: 300px;
}

.card a{
    text-decoration: none;
}

.card:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.search-form .form-group {
    display:block;
    margin-left:auto;
    margin-right:auto;
    transition: all 0.35s, border-radius 0s;
    width: 32px;
    height: 32px;
    background-color: transparent;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-radius: 25px;
    border: 1px solid $gray-color-line;
}
.search-form .form-group input.form-control {
    padding-right: 20px;
    border: 0 none;
    background: transparent;
    box-shadow: none;
    display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
    display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
    display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
    display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
    display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
    width: 100%;
    border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
    position: absolute;
    top: -1px;
    right: -2px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: $accent-color ;
    left: initial;
    font-size: 14px;
}