@media (max-width: 992px) {
  .menulist ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .menulist li {
    display: inline;

  }
  .menulist {
    text-align: center;
  }
  .article-img {
    margin-top: 25%;
    margin-bottom: 25%;
  }
}

@media (max-width: 992px) {
  .asidebar {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }
}

@media (max-width: 992px) {
  .navbar-right {
    float: left !important;
  }
}

@media (max-width: 992px) {
  .search-wrapper {
    height: 28px;
  }
}

@media (max-width: 992px){
  .article-img {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

@media (max-width: 1199px) {
  .search-wrapper {
    height: 340px;
  }
}

@media (max-width: 992px) {
  .navbar-header {
    float: left;
    padding-top: 15px;
    text-align: center;
    width: 100%;
  }
  .navbar-brand {
    float: none;
  }
}

@media(max-width: 768px) {
  .reviews-wrapper {
    text-align: center;
  }
}

@media(max-width: 768px) {
  .navbar-header {
    float: none;
    padding: 0;
    text-align: none;
  }
  .navbar-brand {float:left;}
}



@media(max-width: 768px) {
  .admin-panel-btn {
    padding: 10px !important;
    margin-top: 0 !important;
  }
}

@media(max-width: 768px) {
  .article-img {
    width: 200px;
    height: 200px;
    margin-top: 0%;
    margin-bottom: 0%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .padding-top-1 {
    padding-top: 0px;
  }
  .fixed-position {
    position: relative;
  }
}

@media(max-width:769px) {
  #page-wrapper .padding-top {
    padding-top: 20px;
  }
}

@media(max-width:768px) {
  #wrapper {
    padding-top: 0px;
  }
}

@media(min-width:768px) {
  .side-nav {
    position: fixed;
    top: 50px;
    left: 225px;
    width: 225px;
    margin-left: -225px;
    border: none;
    border-radius: 0;
    border-top: 1px rgba(0,0,0,.5) solid;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
  }
  .side-nav > li > a {
    width: 225px;
    border-bottom: 1px rgba(0,0,0,.3) solid;
  }
  .fixed-position {
    position: fixed;
    right: 0;
    left: 0;
  }
  #wrapper {
    padding-left: 225px;
  }
}
