<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-8 col-xs-8 ">
        <ul class="gfooter-list">
          <li class="gfooter-item">
            <a class="gfooter-link" href="#" aria-hidden="true">Home</a> ·
          </li>
          <li class="gfooter-item">
            <a class="gfooter-link" href="#" aria-hidden="true">Register</a> ·
          </li>
          <li class="gfooter-item">
            <a class="gfooter-link" href="#" aria-hidden="true">Login</a> ·
          </li>
          <li class="gfooter-item">
            <a class="gfooter-link" href="#" aria-hidden="true">Catalog</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-4">
        <ul class="gfooter-list">
          <li class="gfooter-item">
            <a class="fa fa-instagram gfooter-social" href="https://www.instagram.com/" aria-hidden="true"> </a>
          </li>
          <li class="gfooter-item">
            <a class="fa fa-twitter gfooter-social" href="https://twitter.com/?lang=es" aria-hidden="true"> </a>
          </li>
          <li class="gfooter-item">
            <a class="fa fa-facebook-official gfooter-social" href="https://www.facebook.com/" aria-hidden="true"> </a>
          </li>
          <li class="gfooter-item">
            <a class="fa fa-pinterest gfooter-social" href="https://es.pinterest.com/" aria-hidden="true"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
