<div>
    <headeradmin></headeradmin>
    <main>
        <div id="wrapper">
            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="title">{{languages.LanguagesArray.length}} languages</h1>
                            <table class="table">
                                <thead class="thead-inverse">
                                    <tr>
                                        <th>#</th>
                                        <th>Language</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="language in languages.LanguagesArray track by $index">
                                        <th scope="row">{{$index +1}}</th>
                                        <td>{{language.name}}</td>
                                        <td><a ng-click="languages.updateLanguage(language._id)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                                        <td><a ng-click="languages.removeLanguage(language._id)"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>