@import '../../../../styles/index';

.card-admin a{
    text-decoration: none;
    color:$accent-color;
}

.card-admin a:hover ,.card-admin img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
.edit-button{
    padding-top: 12px;
}
