<header>
  <nav class="navbar navbar-default gnav-bar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand gnav-bar-logo" ui-sref="home">Mercatico.</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li ng-if="header.currentUser.type == 'admin'">
            <a href="#" ui-sref="dashboard" class="btn admin-panel-btn" target="_blank">Admin Panel</a>
          </li>
          <li ng-if="!header.isLoggedIn">
            <a class="gnav-bar-link" href="#" ui-sref="signin">Register / Login</a>
          </li>
          <li ng-if="header.isLoggedIn">
            <a class="gnav-bar-link-active" href="#">Awww Yeah! Welcome back, {{header.currentUser.name}}</a>
          </li>
          <li>
            <a class="gnav-bar-link" href="#" ui-sref="cart"><i class="fa fa-shopping-bag" aria-hidden="true"></i> Cart<span> (0)</span></a>
          </li>
          <li ng-if="header.isLoggedIn">
            <a class="gnav-bar-link" href="#" ng-click="header.logout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="catnav-bar">
    <div class="container">
      <ul class="catnav-bar-list">
        <li class="catnav-bar-link"><a href="#">aaaaaaa</a></li>
        <li class="catnav-bar-link"><a href="#">aaaaaaa</a></li>
        <li class="catnav-bar-link"><a href="#">aaaaaaa</a></li>
        <li class="catnav-bar-link"><a href="#">aaaaaaa</a></li>
        <li class="catnav-bar-link"><a href="#">aaaaaaa</a></li>
      </ul>
    </div>
  </div>
</header>
