@import '../../../../styles/andres/main';

.navbar {
  margin-bottom: 0 !important;
}

.gnav-bar {
  background-color: white !important;
  border: 0;
  border-bottom: 1px solid $color_lightgray !important;
  border-top: 4px solid #FF883E !important;
  margin: 0;
}

.gnav-bar-logo {
  font-family: 'Arvo', serif !important;
  font-size: 28px !important;
  color: $color_darkgray !important;
}

.gnav-bar-link {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.gnav-bar-link:hover {
  background-color: transparent !important;
  color: #FF883E !important;
}

.gnav-bar-link-active {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #0192B5 !important;
}

.gnav-bar-link-active:hover {
  background-color: transparent !important;
  color: #FF883E !important;
}

.catnav-bar {
  background-color: white !important;
  border: 0;
  box-sizing: border-box;
  border-bottom: 1px solid $color_lightgray !important;
  margin: 0;
}

.catnav-bar-list {
  list-style-type: disc;
  padding: 0;
  margin: 0;
}

.catnav-bar-link {
  display: inline-block;
  padding: 5px;
}

.catnav-bar-link:hover {
  border-bottom: 3px solid $color_primary !important;
  margin-bottom: -3px;
}

.admin-panel-btn {
  background-color: #222 !important;
  color: white !important;
  padding: 10px !important;
  margin-top: 4px !important;
  border-radius: 0 !important;
  font-size: 12px !important;
  font-weight: 700 !important;
  letter-spacing: 1px !important;
  text-transform: uppercase;
}

.admin-panel-btn:hover {
  color: #FF883E !important;
}

