<div>
  <appheader></appheader>
  <section>
    <div class="auth-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6">
                    <a href="#" class="active-tab panel-heading-text" id="login-form-link">Login</a>
                  </div>
                  <div class="col-xs-6">
                    <a href="#" id="register-form-link" class="panel-heading-text">Register</a>
                  </div>
                </div>
              </div>
              <div class="panel-body">

                <form id="login-form"  ng-submit="auth.login()" role="form" style="display: block;"  data-toggle="validator">
                  <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" id="email"  ng-model="auth.credentials.email"  class="form-control" placeholder="Email Address"  data-error="Invalid email address" required>
                    <div class="help-block with-errors"></div>
                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" minlength="6" class="form-control" id="registerpassword" placeholder="Password" ng-model="auth.credentials.password"  required title="Minimum 3 characters required">
                    <div class="help-block with-errors"></div>
                  </div>

                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-6 col-sm-offset-3">
                        <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-form" value="Login">
                      </div>
                    </div>
                  </div>

                  <div ng-if="auth.isError" class="alert alert-danger alert-dismissable fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Danger!</strong> {{auth.error}}
                  </div>
                </form>

                <form id="register-form" ng-submit="auth.register()" style="display: none;" role="form" data-toggle="validator">
                  <div class="form-group">
                    <label for="name">Full Name</label>
                    <input type="text" id="name" class="form-control" placeholder="Full Name" ng-model="auth.credentials.name" data-error="Name Required" required>
                    <div class="help-block with-errors"></div>
                  </div>

                  <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" id="email"  ng-model="auth.credentials.email"  class="form-control" placeholder="Email Address"  data-error="Invalid email address" required>
                    <div class="help-block with-errors"></div>
                  </div>

                  <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" minlength="6" class="form-control" id="password" placeholder="Password" ng-model="auth.credentials.password"  required>
                    <div class="help-block with-errors"></div>
                  </div>

                  <div class="form-group">
                    <label for="passwordconfirm">Confirm Password</label>
                    <input type="password" minlength="6" class="form-control" id="passwordconfirm" data-match="#password" data-match-error="Passwords don't match" placeholder="Confirm" data-error="Confirm Password" required>
                    <div class="help-block with-errors"></div>
                  </div>

                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-6 col-sm-offset-3">
                        <input type="submit" name="register-submit" id="register-submit"  class="form-control btn btn-form" value="Register Now">
                      </div>
                    </div>
                  </div>

                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <appfooter></appfooter>
</div>
