@import '../../../../styles/andres/main';

.auth-wrapper {
  margin-top: 50px;
}

.panel {
  border-radius: 0 !important;
  border-color: #222 !important;
}

.panel-primary {
  border-radius: 0 !important;
  border-color: #222 !important;
}

.panel-heading {
  background-color: #222 !important;
  color: white !important;
  text-align: center;
  border-radius: 0 !important;
}

.panel-heading-text {
  color: white;
  padding: 0;
}

.btn-form {
  background-color: #FF883E !important;
  color: white !important;
}

.active-tab {
  color: #FF883E !important;
}

.panel-heading-text:hover {
  color: #FF883E !important;
}

.alert {
  margin-bottom: 0 !important;
}
