<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <a href="" ng-click="detailproduct()" class="card-title">{{product.name}}</a>
        <div class="card-image">
          <img class="img-responsive img-responsive-product" src="{{product.image64}}">
        </div>
        <div class="card-content">
          <h4>Price $: {{product.price}}</h4>
          <a href="" ng-click="showproducts()">Seller : {{product.seller.name}}</a>
        </div>
        <div class="card-action">
          <a href="" ng-click="editproduct()">Edit</a>
          <a href="" ng-click="removeproduct()">Remove</a>
        </div>
      </div>
    </div>
  </div>
</div>
