<div>
    <headeradmin></headeradmin>
    <main>
        <div id="wrapper">
            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="title">{{users.UserArray.length}} users</h1>
                            <table class="table">
                                <thead class="thead-inverse">
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>User Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="user in users.UserArray track by $index">
                                        <th scope="row">{{$index +1}}</th>
                                        <td>{{user.name}}</td>
                                        <td>{{user.email}}</td>
                                        <td>{{user.type}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main//>
</div>