<div>
	<headeradmin></headeradmin>
	<main>
		<div id="wrapper">
			<div id="page-wrapper">
				<div class="container-fluid padding-top">
					<div class="row">
						<div class="col-md-6 col-md-offset-3">
							<div class="panel panel-login">
								<div class="panel-heading">
									<div class="row">
										<div class="col-xs-12">
											<a class="active">{{create.title}}</a>
										</div>
									</div>
									<hr>
								</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-12">
											<form id="create-form" enctype="multipart/form-data" ng-submit="create.onSubmit()" role="form" style="display: block;" data-toggle="validator">
												<div class="form-group">
													<label for="name">Publisher</label>
													<input type="text" class="form-control" id="name" placeholder="Publisher" ng-model="create.publisher.name" data-error="Publisher's name is required"
														required>
													<div class="help-block with-errors"></div>
												</div>
												<div class="form-group">
													<label for="name">Location</label>
													<input type="text" class="form-control" id="location" placeholder="Location" ng-model="create.publisher.location" data-error="Location is required"
														required>
													<div class="help-block with-errors"></div>
												</div>
												<div class="form-group">
													<label for="name">Year Founded</label>
													<input type="text" class="form-control" id="year" placeholder="Year Founded(yyyy)" ng-model="create.publisher.year_founded" data-error="Year is required"
														required>
													<div class="help-block with-errors"></div>
												</div>
												<div class="form-group">
													<div class="row">
														<div class="col-sm-6 col-sm-offset-3">
															<input type="submit" name="submit" id="submit" class="form-control btn btn-register" value="Create Publisher">
														</div>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Message</h4>
					</div>
					<div class="modal-body">
						<p>Your publisher has been created.</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

	</main>
</div>