@import '../../../../styles/andres/main';

.anav-bar {
  background-color: white !important;
  border: 0;
  border-bottom: 1px solid $color_lightgray !important;
  margin: 0;
}

.anav-bar-logo {
  font-family: 'Arvo', serif !important;
  font-size: 28px !important;
  color: $color_darkgray !important;
}

.anav-bar-link {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.anav-bar-link:hover {
  background-color: transparent !important;
  color: #FF883E !important;
}

.asidebar {
  top: 51px;
  background-color: #222 !important;
  left: 0px;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

.aside-nav-list {
  list-style: none;
  background-color: #222;
}

.aside-nav-item {
  color: $color_lightgray !important;
  border: 1px solid #2e2e2e;
}

.aside-nav-item:hover, .aside-nav-item:active, .aside-nav-item:focus {
  color: #FF883E !important;
  background-color: #222 !important;
}

.navbar-toggle {
  background-color: white !important;
  border-color: #222 !important;
}

.icon-bar {
  color: #222 !important;
  background-color: #222 !important;
  border-color: #222 !important;
}

.navbar-toggle:hover {
  background-color: $color_lightgray !important;
}
