<div class="form-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1>Products sold by : {{listProductSeller.seller.name}}</h1>
      </div>
    </div>
    <div class="row list-wrapper">
      <card-product-admin class="col-md-4" ng-repeat="product in listProductSeller.allProducts" product="product" detailProduct="listProductSeller.detailproduct(product._id)" removeProduct="listProductSeller.removeproduct(product._id)" editproduct="listProductSeller.editproduct(product._id)"></card-product-admin>
    </div>
  </div>

  <!-- Modal -->
    <div class="modal fade" id="productDetail" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="form-wrapper">
          <div class="panel panel-primary panel-modal">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title modal-text-bold">Product detail: {{listProductSeller.detailsProduct.name}}</h4>
            </div>
            <div class="panel-body">
              <img class="img-responsive" src="{{listProductSeller.detailsProduct.image64}}">
              <div class="row">
                <div class="col-md-6 column-border">
                  <p class="modal-text-bold">Description: </p>
                  <p class="modal-text">{{listProductSeller.detailsProduct.description}}</p>
                </div>
                <div class="col-md-6 column-border">
                  <p class="modal-text-bold">Price: </p>
                  <p class="modal-text">{{listProductSeller.detailsProduct.price}}</p>
                </div>
                <div class="col-md-6 column-border">
                  <p class="modal-text-bold">Published Date: </p>
                  <p class="modal-text">{{listProductSeller.detailsProduct.published_date}}</p>
                </div>
                <div class="col-md-6 column-border">
                  <p class="modal-text-bold">Quantity: </p>
                  <p class="modal-text">{{listProductSeller.detailsProduct.quantity}}</p>
                </div>
                <div class="col-md-6 column-border">
                  <p class="modal-text-bold">Category Name: </p>
                  <p class="modal-text">{{listProductSeller.detailsProduct.category.name}}</p>
                </div>
                <div class="col-md-6 column-border">
                  <p class="modal-text-bold">Category Description: </p>
                  <p class="modal-text">{{listProductSeller.detailsProduct.category.description}}</p>
                </div>
                <div class="col-md-6 column-border">
                  <p class="modal-text-bold">Seller Name: </p>
                  <p class="modal-text">{{listProductSeller.detailsProduct.seller.name}}</p>
                </div>
                <div class="col-md-6 column-border">
                  <p class="modal-text-bold">Seller Email: </p>
                  <p class="modal-text">{{listProductSeller.detailsProduct.seller.email}}</p>
                </div>
                <div class="col-md-6 column-border">
                  <p class="modal-text-bold">Seller Address: </p>
                  <p class="modal-text">{{listProductSeller.detailsProduct.seller.address}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
