<div>
    <appheader></appheader>
    <main>
        <div class="container">
            <div class="row padding-top">
                <div class="col-md-offset-3 col-md-3 col-xs-6">
                    <img class="img-responsive center-img" ng-src="{{ viewbook.currentbook.image_path}}" alt="{{ viewbook.currentbook.title}}">
                </div>
                <div class="col-md-6 col-xs-6">
                    <h1 >{{ viewbook.currentbook.title }}</h1>
                    <h3 ng-show="viewbook.currentbook.best_seller">Best Seller!</h3>
                    <h3 class="uppercase">{{viewbook.currentbook.quantity}} {{ viewbook.currentbook.state }} </h3>
                    <h3>{{ viewbook.currentbook.price }}</h3>
                    <button class="btn btn-default form-control btn-style" type="submit">Add to cart</button>
                    <h2>General Information</h2>
                    <h3 class="golden-color">Authors: </h3>
                    <p  ng-repeat="author in viewbook.currentbook.authors" >{{author}}</p>
                    <h3 class="golden-color">Categories: </h3>
                    <p  ng-repeat="category in viewbook.currentbook.categories" >{{category}}</p>
                    <h3 class="golden-color">Languages: </h3>
                    <p  ng-repeat="language in viewbook.currentbook.languages" >{{language}}</p>
                    <h3 class="golden-color">Publisher: </h3>
                    <p>{{ viewbook.currentbook.publisher }}</p>
                    <h3 class="golden-color">Publisher Date: </h3>
                    <p>{{ viewbook.currentbook.published_date | date:'dd-MMM-yyyy'}}</p>
                </div>
            </div>
        </div>
    </main>
    <appfooter></appfooter>
</div>