@import './../../../../styles/andres/main';

.form-wrapper {
  margin-top: 80px;
}

.panel-form {
  border-radius: 3px 3px 0 0 !important;
  border-width: 8px !important;
  border-color: #E4F3D9 !important;
}
